/******************Reset********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size:62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Scaffolding*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Lato",sans-serif;
}

b {
  font-weight: 600;
}

p {
  font-size: 1.5rem;
}

.list {
  display: flex;
}

.list-col {
  padding: 0 1rem;
}

a, a:active, a:focus, button, button:focus, button:active {
    outline: none;
    outline: 0;
    border:none;
    border:0;

}

input::-moz-focus-inner {
    border: 0;
}

a:link {
	text-decoration:none;
	color:white;
}

a:visited {
	text-decoration:none;
	color:white;
}

a:hover {
	text-decoration:none;
	color:white;
}

a:active {
	text-decoration:none;
	color:white;
}
/*****************End Reset******************/
header { 
	position: relative;
	height: auto;
	margin: 0 auto;
	background-color: white;
}

footer {
	position: relative;
	height: auto;
}

header h1 { 
	position: relative;
	top: 0px;
	left: 0px;
	margin: .4rem 0 -1.2rem 0;
	display: inline-block;
	z-index: 1;
}

header img {
	display: block;
	z-index: 1;
}

.light-first {
	margin: .3rem 0 0 .5rem;
	display: block;
	font-size: 4rem;
	font-family: "Lato", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

.bold-first {
	margin: .3rem 0 0 0;
	display: block;
	font-size: 4.5rem;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.light-second {
	margin: 0 0 0.5rem 0;
	display: block;
	font-size: 2.9rem;
	font-family: "Lato", sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

span.bold-third {
  color: #9e3232;
  margin: 0.5rem 0 0.5rem 2rem;
  display: block;
  font-size: 5vw;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.list .light-second {
  color: #f14b4b;
  min-height: 100px;
  padding-top: 1rem;
}

.bold-second {
	margin: -1.1rem 0 -.5rem 2rem;
	display: block;
	font-size: 4.5rem;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.content {
	display: block;
	background-color: white;
	max-width: 1199px;
	margin: 0 auto;
	text-align: center;
}

.hero {
  background-image: url(img/shadow_kick.jpg);
  min-height: 60vh;
  background-position: 50% 80%;
  background-size: cover;
}

.img-container {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 0;
	overflow-x: visible;
}

.img-container img {
	width: 100%;

}

.transition-top {
	position: absolute;
	top: -1px;
	width: 100%;
}

.transition-bottom {
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 100%;
}

.row-lg {
	width: 100%;
	height: auto;
	padding-bottom: 1rem;
	background-color: white;
	overflow: auto;
}

.col-lg {
	width: calc((100% - 40px * 4)/2);
	margin: 0 40px;
	font-family: "Lato", sans-serif;
	float: left;
	text-align: left;
}

.col-lg p {
	font-size: 1.5rem;
	font-weight: 100;
	color: rgb(0, 0, 0);
}

.nav-bar {
	float: right;
	width: auto;
	height: auto;
	text-align: right;
	background-color: white;
	margin-top: .4rem;
}

.nav-bar a {
	color: black;
	font-size: 1.7rem;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	margin: 0 1.7rem;
}

.footer-nav {
	width: 100%;
	height: auto;
	text-align: center;
	padding: 5rem 0;
}

.footer-nav a {
	color: black;
	font-size: 1.7rem;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	margin: 0 1.7rem;
}

.drop-down-menu {
	width: 100%;
	height: 0%;
	position: absolute;
	top: 0px;
	overflow-y: hidden;
	background-color: black;
	transition: height .5s;
}

.menu-links {
	position: absolute;
	background-color: black;
	width: 94%;
	display: inline-block;
	bottom: 5px;
	left: 0px;
}

.menu-links a {
	font-size: 1.3rem;
	margin: 0 2%;
	color: white;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
}

.nav-open-button {
	height: auto;
	width: 100%;
	font-size: 2rem;
	line-height: 2.8rem;
	background-color: black;
	color: white;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: none; 
}

.nav-close-button {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 1.4rem;
	background-color: black;
	color: white;
}

iframe {
	width: 100%;
	height: auto;
	padding-bottom: 1rem;
}

.col {
  margin-bottom: 2rem;
}

.col p {
	padding-bottom: 1rem;
}

.clr-black {
  color: black !important;
}

.telno {
	color: #f14b4b !important;
	text-decoration: none;
}

@media screen and (min-width: 600px) {
  .row {
    display: flex;
  }
  .col {
    flex: 1;
  }
}

@media screen and (max-width: 374px) and (min-width: 0px) {
	#titleTransition {
		display: none;
	}

	header h1 {
		position: relative;
		margin: 0 auto;
	}

	.footer-nav a {
		font-size: .7rem;
		margin: 0 .8rem;
	}
	
	.nav-bar {display: none}
	
	.nav-open-button {display: block}
	
	.nav-close-button {
		font-size: .7rem;
	}

	.menu-links a {
		font-size: .7rem;
		margin: 0 .6rem;
	}
	
	.row-lg {
		padding-bottom: 0rem;
	}

	.col-lg {
		font-size: 1.2rem;
		float: none;
		width: calc(100% - 80px);
		margin: 0 40px;
		padding-bottom: 1rem;
	}

	.light-first {
		font-size: 3rem;
	}

	.bold-first {
		font-size: 3rem;
	}
	
	.light-second {
		font-size: 1.6rem;
	}

	.bold-second {
		font-size: 3.5rem;
		margin: -.8rem 0 -.5rem 2rem;
	}
}

@media screen and (max-width: 424px) and (min-width: 375px) {
	#titleTransition {
		display: none;
	}

	header h1 {
		position: relative;
		margin: 0 auto;
	}
	
	.nav-bar {display: none}
	
	.nav-open-button {display: block}

	.menu-links a {
		font-size: .9rem;
		margin: 0 .6rem;
	}

	.nav-close-button {
		font-size: .9rem;
	}

	.footer-nav a {
		font-size: .9rem;
		margin: 0 .9rem;
	}
	
	.row-lg {
		padding-bottom: 0rem;
	}

	.col-lg {
		font-size: 1.2rem;
		float: none;
		width: calc(100% - 60px);
		margin: 0 30px;
		padding-bottom: 1rem;
	}

	.light-first {
		font-size: 3rem;
	}

	.bold-first {
		font-size: 3.3rem;
	}
	
	.light-second {
		font-size: 1.9rem;
	}

	.bold-second {
		font-size: 3.5rem;
		margin: -.8rem 0 -.5rem 2rem;
	}
}

@media screen and (max-width: 767px) and (min-width: 425px) {
	#titleTransition {
		display: none;
	}
	
	header h1 {
		position: relative;
		margin: 0 auto;
	}
	
	.footer-nav a {
		font-size: 1.1rem;
		margin: 0 .9rem; 
	}

	.nav-bar {display: none}
	
	.nav-open-button {display: block}
	
	.menu-links a {
		font-size: .9rem;
		margin: 0 1rem;
	}

	.nav-close-button {
		font-size: .9rem;
	}
	
	.row-lg {
		padding-bottom: 0rem;
	}
	
	.col-lg {
		font-size: 1.4rem;
		float: none;
		width: calc(100% - 80px);
		margin: 0 40px;
		padding-bottom: 1rem;
	}

	.bold-first {
		font-size: 3.5rem;
	}
	
	.light-second {
		font-size: 2rem;
	}
}

@media screen and (max-width: 979px) and (min-width: 768px) {
	#titleTransition {
		display: none;
	}
	
	header h1 {
		position: relative;
		margin: 0 auto;
	}
	
	.nav-bar {
		float: none;
		text-align: center;
		background-color: black;
		margin-top: 0rem;
	}
	
	.nav-bar a {
		color: white;
		line-height: 2rem;
		font-size: 1.5rem;
	}

	.col-lg p {
		font-size: 1.4rem;
	}

	.bold-first {
		font-size: 3.5rem;
	}
	
	.light-second {
		font-size: 2rem;
	}
}